@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>詳細</h2>

@using (Ajax.BeginForm(
    "DetailIndexParts",
    new AjaxOptions
    {
        UpdateTargetId = "result"
    }))
{
    @Html.DropDownList(
    "id",
        new SelectList(
            (System.Collections.IEnumerable)ViewData["names"],
            "id",
            "personName",
            "1"
            )
    )
    <input type="submit" value="詳細表示" />
}

<div id="result">
</div>

@section scripts {
    @Scripts.Render("~/bundles/ajax")
}