@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Personマスタ", "index", "m_persons")
    </div>
    <div class="col-md-4">
        @Html.ActionLink("AJAXのドロップダウンメニュー", "DetailIndex", "m_persons")
    </div>
</div>